BOT_TOKEN=8620797733:AAG7X1cIc8-zjdU64XVpRffHAU67BsMBm-M
DATABASE_URL=postgresql+asyncpg://partytime:partytime@db:5432/partytime
# For local dev without Docker use:
# DATABASE_URL=postgresql+asyncpg://partytime:partytime@localhost:5432/partytime
REMINDER_OFFSET_MINUTES=30
