# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Database
*.sqlite3
*.db
